<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>text</title>
</head>
<body>
<h1>Welcome to my web site</h1>
<h2>Enter your content below </h2>
<form action="/analyzed" method="get">
    <textarea name="text" style="margin: 0px; height: 93px; width: 469px;"></textarea>
    <br><input type="checkbox" name="pun"/> Remove puctuation
    <br><input type="checkbox" name="uc"/> upper cashing
    <br><input type="checkbox" name="lc"/> lower cashing

    <br><br><input type="checkbox" name="chk"/> please conform here...
    <br><br><button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
</body>
</html>